#sidebarNav {
    background-color: var(--mathech-color-quaternary);
    overflow: hidden;
}

#testList .btn {
    overflow: hidden;
    text-wrap: nowrap;
    text-align: left;
}

#queryResultContainer {
    width: 100%;
    z-index: 1;
}
#queryResultContainer p {
    max-height: calc(100% - 78px);
    text-align: justify;
    overflow-y: auto;
}
#queryResultContainer p::-webkit-scrollbar {
    width: 0.5rem;
}
@media (min-width: 768px) {
    #queryResultContainer {
        width: 75%;
    }
    #queryResultContainer p {
        max-height: 500px;
    }
}

#queryPage .input--container {
    background: linear-gradient(to top, #222222, #22222200);
    z-index: 2;
}
#inputContainer .panel-group {
    width: 90%;
}
@media (min-width: 768px) {
    #inputContainer .panel-group {
        width: 75%;
    }
}
#queryPage .inpgroup--container {
    width: 90%;
}
@media (min-width: 768px) {
    #queryPage .inpgroup--container {
        width: 75%;
    }
}
#queryPage .inpgroup--container .input-group * {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
#queryPage .inpgroup--container .input-group .form-control {
    resize: none;
}