/* Fonts: Start */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    /* font-family: 'Red Hat Display', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    /* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    /* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
    /* font-family: 'Merriweather', serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
    /* font-family: 'Comfortaa', cursive; */
/* Fonts: End */

/* Reset: Start */
:root {
    --mathech-color-primary: #008000;
    --mathech-color-secondary: #002366;
    --mathech-color-tertiary: #9ec5ab;
    --mathech-color-quaternary: #01200f;
    --mathech-color-quinary: #011502;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    cursor: auto, default;
}

textarea:focus, input:focus, button:focus, button:active, a:focus, *:focus, .btn:focus, .form-control:focus, .navbar-toggler:active, .navbar-toggler:hover {
	box-shadow: none !important;
	outline: none !important;
}

input:focus::placeholder { color: transparent; }
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

a, button {
    text-decoration: none;
	cursor: pointer;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	pointer-events: none;
}

.mathech-bg-primary {background-color: var(--mathech-color-primary) !important;}
.mathech-bg-secondary {background-color: var(--mathech-color-secondary) !important;}
.mathech-bg-tertiary {background-color: var(--mathech-color-tertiary) !important;}
.mathech-bg-quaternary {background-color: var(--mathech-color-quaternary) !important;}
.mathech-bg-quinary {background-color: var(--mathech-color-quinary) !important;}

.mathech-fc-primary {color: var(--mathech-color-primary) !important;}
.mathech-fc-secondary {color: var(--mathech-color-secondary) !important;}
.mathech-fc-tertiary {color: var(--mathech-color-tertiary) !important;}
.mathech-fc-quaternary {color: var(--mathech-color-quaternary) !important;}
.mathech-fc-quinary {color: var(--mathech-color-quinary) !important;}

.mathech-fc-hover-primary {color: var(--mathech-color-primary) !important;}
.mathech-fc-hover-secondary {color: var(--mathech-color-secondary) !important;}
.mathech-fc-hover-tertiary {color: var(--mathech-color-tertiary) !important;}
.mathech-fc-hover-quaternary {color: var(--mathech-color-quaternary) !important;}
.mathech-fc-hover-quinary {color: var(--mathech-color-quinary) !important;}

.mathech-border-primary {border-color: var(--mathech-color-primary) !important;}
.mathech-border-secondary {border-color: var(--mathech-color-secondary) !important;}
.mathech-border-tertiary {border-color: var(--mathech-color-tertiary) !important;}
.mathech-border-quaternary {border-color: var(--mathech-color-quaternary) !important;}
.mathech-border-quinary {border-color: var(--mathech-color-quinary) !important;}
/* Reset: End */

/* Navbar: Start */
.navbar-nav .nav-link {
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    color: #ffffff;
}
.navbar-nav .nav-link:hover {
    color: #cccccc;
}
.navbar-nav .nav-link.active {
    color: var(--mathech-color-tertiary) !important;
}

.navbar-nav.user-controls .btn {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
}

.title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
.subtitle {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
/* Navbar: End */